body {
  background: url(/img/clouds.jpg) center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

/* Home header */

.home-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.home-header .header-title {
  display: flex;
  align-items: center;
  width: 30%;
  color: black;
  margin: 10px;
}

.home-header .header-title .text {
  font-size: 2rem;
  margin-right: 10px;
  letter-spacing: -2px;
}

.navBar {
  width: 80%;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.navBar .menu {
  padding: 10px;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

/* Home header end */

/* Home greeting */

.home-greeting .greeting__message {
  margin-bottom: 10px;
}

/* Home greeting end */
